# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.hprof
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code (optional - uncomment if needed)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android build folders
/android/.gradle/
/android/build/
/android/app/build/
/android/app/debug
/android/app/profile
/android/app/release

# Generated / system files
local.properties

# 🔥 Firebase (IMPORTANT - STEP 1)
google-services.json
firebase_options.dart

# Optional (if using keystore)
key.properties
*.jks